*
!.gitignore
!README.md

!letMeSee/
!letMeSee/**
!XLaccountswitcher/
!XLaccountswitcher/**
!autoDeleteWelcome/
!autoDeleteWelcome/**
!channelLogger/
!channelLogger/**
!makeshiftEveryone/
!makeshiftEveryone/**

*.log
.DS_Store
node_modules/
