*
!.gitignore
!README.md

!XLaccountswitcher/
!XLaccountswitcher/**
!autoDeleteWelcome/
!autoDeleteWelcome/**
!channelLogger/
!channelLogger/**
!makeshiftEveryone/
!makeshiftEveryone/**
!bulkMessageDelete/
!bulkMessageDelete/**
!catboxUploader
!catboxUploader/**

*.log
.DS_Store
node_modules/
